


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  height: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}



footer {
  background-color: #333;
  padding: 20px;
  margin-top: 15px;
  color: #fff;
  text-align: center;
}



body {
  font-size: 12px;
  font-family: sans-serif;
  background: #b8e3ef;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  background: #93c7d6;
  max-width: 0;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  visibility: hidden;
  border-radius: 3px;
  opacity: 0;
}

li {
  display: block;
}

li a {
  padding: 12px 20px;
  display: block;
  transition: 0.25s;
}

li a:hover {
  background: #6fabbc;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

i {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  color: #6fabbc;
  transition: 0.25s;
  animation: 1.25s bounce infinite;
}

i:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.95);
  animation-play-state: paused;
}

ul.open {
  max-width: 100%;
  visibility: visible;
  opacity: 1;
}

/* animation */
@keyframes bounce {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -15px;
    margin-right: 15px;
  }
  100% {
    margin-left: 0;
  }
}

/* Credit */
.container ~ * {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}





#cart {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  /* Resto do seu estilo aqui */
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.cart-quantity {
  background-color: #FF5050;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  margin-right: 16px;
}

.fa-shopping-cart {
  font-size: 18px;
}

/* Hover Effect */
.cart-link:hover {
  color: #FF5050;
}

.cart-quantity:hover {
  background-color: #FFF;
  color: #FF5050;
}









.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 100%;
    margin-left: 0;
  }
}
/* before adding the img to the div with the
"card-img" class, remove css styles
.card-img .img::before and .card-img .img::after,
then set the desired styles for .card-img. */
.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 300px;
  height: 400px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  margin-left: 100px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-img .img {
 /* delete */
  transform: scale(1);
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border: 2px solid black;
  background-color: #228b22;
  background-image: linear-gradient(to top,transparent 10px,rgba(0,0,0,0.3) 10px,rgba(0,0,0,0.3) 13px,transparent 13px);
}

.card-img .img::before {
 /* delete */
  content: '';
  position: absolute;
  width: 65px;
  height: 110px;
  margin-left: -32.5px;
  left: 50%;
  bottom: -4px;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at center,rgba(0,0,0,0.7) 30%,transparent 30%),linear-gradient(to top,transparent 17px,rgba(0,0,0,0.3) 17px,rgba(0,0,0,0.3) 20px,transparent 20px),linear-gradient(to right,black 2px,transparent 2px),linear-gradient(to left,black 2px,transparent 2px),linear-gradient(to top,black 2px,#228b22 2px);
  background-size: 60% 10%,100% 100%,100% 65%,100% 65%,100% 50%;
  background-position: center 3px,center bottom,center bottom,center bottom,center bottom;
  border-radius: 0 0 4px 4px;
  z-index: 2;
}

.card-img .img::after {
 /* delete */
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  left: 50%;
  top: -13px;
  background-repeat: no-repeat;
  background-image: linear-gradient(80deg,#ffc0cb 45%,transparent 45%),linear-gradient(-175deg,#ffc0cb 45%,transparent 45%),linear-gradient(80deg,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0) 51%),linear-gradient(-175deg,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0) 51%),radial-gradient(circle at center,#ffa6b6 45%,rgba(0,0,0,0.2) 45%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(45deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(65deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(22deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 54%,rgba(0,0,0,0) 54%);
  background-size: 100% 100%,100% 100%,100% 100%,100% 100%,100% 100%,100% 75%,100% 95%,100% 60%;
  background-position: center center;
  border-top-left-radius: 120px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 70px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(45deg);
  z-index: 1;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

.add-to-cart-btn{
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  margin: 10px;
  border-radius: 10px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}
.add-to-cart-btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.add-to-cart-btn:active {
  transform: translate(0);
  box-shadow: none;
}

.categoria-btn{
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  margin: -40px;
  border-radius: 10px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}
.categoria-btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.categoria-btn:active {
  transform: translate(0);
  box-shadow: none;
}


