

{% extends "home/index.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input type="checkbox" class="toggle">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Log in</div>
                     <form class="flip-card__form"  action="login" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email">
                        <input id="senha" class="flip-card__input" name="senha" placeholder="Password" type="password">
                        {% with message = get_flashed_messages() %}
                                {% if message %}
                                    <div class="error-message">
                                        {% for messag in message %}
                                            <p class="mensagem">{{ messag }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                        <button class="flip-card__btn">Let`s go!</button>
                     </form>
                  </div>

                  <div class="flip-card__back">
                     <div class="title">Sign up</div>
                     <form class="flip-card__form" action="register" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="flip-card__input" name="nome" placeholder="Name" type="name">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email">
                        <input class="flip-card__input" name="senha" placeholder="Password" type="password">

                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="">
                                        {% for message in messages %}
                                            <p class="mensagem">{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        <button class="flip-card__btn">Confirm!</button>
                     </form>
                  </div>
               </div>
            </label>
        </div>
   </div>

{% endblock %}


